In [1]:
import pandas as pd

In [12]:
df = pd.read_excel("C:\\Users\\anton\\OneDrive\\Área de Trabalho\\Cadastro Abril.xlsx")
df.head()

   SKU PRODUTO       DATA             SITUAÇÃO Quem Fez
0       291216 2024-04-02                   Ok    Jaque
1       292609 2024-04-08                   Ok    Jaque
2       293101 2024-04-02                   Ok    Jaque
3       294372 2024-04-01  Cadastro atualizado    Jaque
4       203021 2024-04-01  Cadastro atualizado    Jaque

In [13]:
df['Quem Fez'].count()

894

In [14]:
df['SITUAÇÃO'].value_counts()

SITUAÇÃO
Ok                     590
Cadastro atualizado    304
Name: count, dtype: int64

In [15]:
df['Quem Fez'].value_counts()

Quem Fez
Breno      264
Maya       222
Gabriel    180
Jaque      141
Douglas     87
Name: count, dtype: int64

In [23]:
jaque_ok = df[(df['Quem Fez'] == 'Jaque') & (df['SITUAÇÃO'] == 'Ok')].shape[0]
jaque_ca = df[(df['Quem Fez'] == 'Jaque') & (df['SITUAÇÃO'] == 'Cadastro atualizado')].shape[0]
total_jaque = jaque_ok + jaque_ca
print(f'A Jaque cadastrou {jaque_ok} produtos novos, atualizou o cadastro de {jaque_ca} e o total de cadastros foi {total_jaque}')

A Jaque cadastrou 75 produtos novos, atualizou o cadastro de 66 e o total de cadastros foi 141

In [24]:
breno_ok = df[(df['Quem Fez'] == 'Breno') & (df['SITUAÇÃO'] == 'Ok')].shape[0]
breno_ca = df[(df['Quem Fez'] == 'Breno') & (df['SITUAÇÃO'] == 'Cadastro atualizado')].shape[0]
total_breno = breno_ok + breno_ca
print(f'O Brneo cadastrou {breno_ok} produtos novos, atualizou o cadastro de {breno_ca} e o total de cadastros foi {total_breno}')

O Brneo cadastrou 209 produtos novos, atualizou o cadastro de 55 e o total de cadastros foi 264

In [27]:
maya_ok = df[(df['Quem Fez'] == 'Maya') & (df['SITUAÇÃO'] == 'Ok')].shape[0]
maya_ca = df[(df['Quem Fez'] == 'Maya') & (df['SITUAÇÃO'] == 'Cadastro atualizado')].shape[0]
total_maya = maya_ok + maya_ca 
print(f'A Maya cadastrou {maya_ok} produtos novos, atualizou o cadastro de {maya_ca} e o total de cadastros foi {total_maya}')

A Maya cadastrou 158 produtos novos, atualizou o cadastro de 64 e o total de cadastros foi 222

In [29]:
gabriel_ok = df[(df['Quem Fez'] == 'Gabriel') & (df['SITUAÇÃO'] == 'Ok')].shape[0]
gabriel_ca = df[(df['Quem Fez'] == 'Gabriel') & (df['SITUAÇÃO'] == 'Cadastro atualizado')].shape[0]
total_gabriel = gabriel_ok + gabriel_ca
print(f'O Gabriel cadastrou {gabriel_ok} produtos novos, atualizou o cadastro de {gabriel_ca} e o total de cadastros foi {total_gabriel}')

O Gabriel cadastrou 88 produtos novos, atualizou o cadastro de 92 e o total de cadastros foi 180

In [31]:
douglas_ok = df[(df['Quem Fez'] == 'Douglas') & (df['SITUAÇÃO'] == 'Ok')].shape[0]
douglas_ca = df[(df['Quem Fez'] == 'Douglas') & (df['SITUAÇÃO'] == 'Cadastro atualizado')].shape[0]
total_douglas = douglas_ok + douglas_ca
print(f'O Douglas cadastrou {douglas_ok} produtos novos, atualizou o cadastro de {douglas_ca} e o total de cadastros foi {total_douglas}')

O Douglas cadastrou 60 produtos novos, atualizou o cadastro de 27 e o total de cadastros foi 87

In [46]:
df[['SITUAÇÃO', 'Quem Fez']]

                SITUAÇÃO Quem Fez
0                     Ok    Jaque
1                     Ok    Jaque
2                     Ok    Jaque
3    Cadastro atualizado    Jaque
4    Cadastro atualizado    Jaque
..                   ...      ...
889  Cadastro atualizado    Breno
890  Cadastro atualizado    Breno
891  Cadastro atualizado    Breno
892                   Ok    Breno
893                   Ok    Breno

[894 rows x 2 columns]