In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("C:\\Users\\anton\\OneDrive\\Área de Trabalho\\Documentos e Planilhas\\Power Bi\\Geral Loja\\VISÃO GERAL.xlsx")
df.columns

Index(['Data', 'Nome da Loja', 'Número Pedido Multiloja', 'Número do Pedido',
       'Situação', 'Marca', 'SKU Pai', 'SKU Filho', 'Produto', 'Situação.1',
       ' Valor total ', 'Nome do Transportador', 'Frete proporcional',
       'Cidade', 'UF', ' Preço de custo ', 'Região'],
      dtype='object')

In [5]:
produtos = df[['SKU Pai', 'Produto']]
display(produtos)

       SKU Pai                                            Produto
0       262353  Short Aeropostale Masculino D'Água Swimwear Da...
1       257477  Short Aeropostale Masculino D'Água Swimwear Li...
2       264054  Short Aeropostale Masculino D'Água Swimwear Ri...
3       250927  Calça Aeropostale Jeans Masculina Slim Pockets...
4       250326  Camiseta Aeropostale Masculina Henley Manga Lo...
...        ...                                                ...
253813  291724        Polo Reserva Masculina Piquet Clássica Roxa
253814  261735  Camiseta Reserva Masculina Piquet Regular Azul...
253815  288261   Camiseta Sergio K Masculina Fitzgerald Off-White
253816  288281  Camiseta Sergio K Masculina Boulevardier Azul ...
253817  288239  Camiseta Sergio K Masculina Limoncello Menu Of...

[253818 rows x 2 columns]

In [6]:
# Selecionar linhas específicas
display(df.loc[1:5])

,Data,Nome da Loja,Número Pedido Multiloja,Número do Pedido,Situação,Marca,SKU Pai,SKU Filho,Produto,Situação.1,Valor total,Nome do Transportador,Frete proporcional,Cidade,UF,Preço de custo,Região
1,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,Ativo,199.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul
2,2023-01-01 00:00:00,SecretOutlet,4579618,242372,Atendido,Aeropostale,264054,264057,Short Aeropostale Masculino D'Água Swimwear Ri...,Ativo,219.99,Correios,0,Maceió,Alagoas,89.9,Nordeste
3,2023-01-01 00:00:00,SecretOutlet,4579569,242287,Atendido,Aeropostale,250927,250928,Calça Aeropostale Jeans Masculina Slim Pockets...,Ativo,237.49,Total Express,0,Paulínia,São Paulo,99.9,Sudeste
4,2023-01-01 00:00:00,SecretOutlet,4579620,242373,Atendido,Aeropostale,250326,250329,Camiseta Aeropostale Masculina Henley Manga Lo...,Ativo,269.99,Total Express,0,Petrópolis,Rio De Janeiro,109.9,Sudeste
5,2023-01-01 00:00:00,SecretOutlet,4579601,242322,Atendido,Aramis,241885,241888,Camiseta Aramis Masculina Flamê Shadow Stamp B...,Ativo,118.34,Correios,18.35,Porto Velho,Rondônia,29.0,Norte

In [7]:
#pegar linhas que correspondem a uma condição
df['Marca'] == 'Aeropostale'
display(df.loc[df['Marca'] == 'Aeropostale'])

,Data,Nome da Loja,Número Pedido Multiloja,Número do Pedido,Situação,Marca,SKU Pai,SKU Filho,Produto,Situação.1,Valor total,Nome do Transportador,Frete proporcional,Cidade,UF,Preço de custo,Região
0,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,262353,262357,Short Aeropostale Masculino D'Água Swimwear Da...,Ativo,229.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul
1,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,Ativo,199.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul
2,2023-01-01 00:00:00,SecretOutlet,4579618,242372,Atendido,Aeropostale,264054,264057,Short Aeropostale Masculino D'Água Swimwear Ri...,Ativo,219.99,Correios,0,Maceió,Alagoas,89.9,Nordeste
3,2023-01-01 00:00:00,SecretOutlet,4579569,242287,Atendido,Aeropostale,250927,250928,Calça Aeropostale Jeans Masculina Slim Pockets...,Ativo,237.49,Total Express,0,Paulínia,São Paulo,99.9,Sudeste
4,2023-01-01 00:00:00,SecretOutlet,4579620,242373,Atendido,Aeropostale,250326,250329,Camiseta Aeropostale Masculina Henley Manga Lo...,Ativo,269.99,Total Express,0,Petrópolis,Rio De Janeiro,109.9,Sudeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253277,06/03/2024,Mercado Livre,2000007759117996,426372,Atendido,Aeropostale,286744,286746,Tênis Aeropostale Masculino Casual Neoprene Le...,Ativo,239.99,MERCADO ENVIOS SERVICOS DE LOGISTICA LTDA.,0,Tatuí,SP,90.0,Sudeste
253278,06/03/2024,Mercado Livre,2000007757412608,426310,Atendido,Aeropostale,214097,214102,Calça Aeropostale Masculina de Sarja Luxury Br...,Ativo,279.99,MERCADO ENVIOS SERVICOS DE LOGISTICA LTDA,0,Paraíba do Sul,RJ,76.7,Sudeste
253332,06/03/2024,SecretOutlet,17097357573569,426360,Atendido,Aeropostale,251789,251791,Camiseta Aeropostale Masculina Aero Block Graf...,Ativo,129.99,Jadlog,0,Londrina,PR,44.9,Sul
253333,06/03/2024,SecretOutlet,17097333308305,426343,Atendido,Aeropostale,250316,250319,Camiseta Aeropostale Masculina Mount Fuji Rosa...,Ativo,145.35,Sedex,5.36,São Paulo,SP,44.9,Sudeste
253334,06/03/2024,SecretOutlet,17097357828340,426358,Atendido,Aeropostale,282618,282620,Camiseta Aeropostale Fast Block Logo Mescla Ma...,Ativo,132.99,Jadlog,0,São Paulo,SP,54.9,Sudeste

In [8]:
df['Nome da Loja'].unique()

array(['SecretOutlet', 'Dafiti', 'Mercado Livre', 'Zattini - Netshoes'],
      dtype=object)

In [9]:
display(df.loc[df['Marca'] == 'Aeropostale', ['Nome da Loja', 'SKU Pai', 'SKU Filho', 'Produto', ' Valor total ']])

,Nome da Loja,SKU Pai,SKU Filho,Produto,Valor total
0,SecretOutlet,262353,262357,Short Aeropostale Masculino D'Água Swimwear Da...,229.99
1,SecretOutlet,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,199.99
2,SecretOutlet,264054,264057,Short Aeropostale Masculino D'Água Swimwear Ri...,219.99
3,SecretOutlet,250927,250928,Calça Aeropostale Jeans Masculina Slim Pockets...,237.49
4,SecretOutlet,250326,250329,Camiseta Aeropostale Masculina Henley Manga Lo...,269.99
...,...,...,...,...,...
253277,Mercado Livre,286744,286746,Tênis Aeropostale Masculino Casual Neoprene Le...,239.99
253278,Mercado Livre,214097,214102,Calça Aeropostale Masculina de Sarja Luxury Br...,279.99
253332,SecretOutlet,251789,251791,Camiseta Aeropostale Masculina Aero Block Graf...,129.99
253333,SecretOutlet,250316,250319,Camiseta Aeropostale Masculina Mount Fuji Rosa...,145.35
253334,SecretOutlet,282618,282620,Camiseta Aeropostale Fast Block Logo Mescla Ma...,132.99

In [10]:
def calcular_taxa(nome_loja):
    if nome_loja == 'SecretOutlet':
        return 0.0
    elif nome_loja == 'Dafiti' or 'Zattini - Netshoes':
        return 0.17
    elif nome_loja == 'Mercado Livre':
        return 0.14
    else:
        return None
    

df['Taxa'] = df['Nome da Loja'].apply(calcular_taxa)
df.head(2)

,Data,Nome da Loja,Número Pedido Multiloja,Número do Pedido,Situação,Marca,SKU Pai,SKU Filho,Produto,Situação.1,Valor total,Nome do Transportador,Frete proporcional,Cidade,UF,Preço de custo,Região,Taxa
0,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,262353,262357,Short Aeropostale Masculino D'Água Swimwear Da...,Ativo,229.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul,0.0
1,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,Ativo,199.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul,0.0

In [11]:
df[' Valor total '] = pd.to_numeric(df[' Valor total '], errors='coerce')
df['Take Rate'] = df['Taxa'] * df[' Valor total ']
df.head(3)

,Data,Nome da Loja,Número Pedido Multiloja,Número do Pedido,Situação,Marca,SKU Pai,SKU Filho,Produto,Situação.1,Valor total,Nome do Transportador,Frete proporcional,Cidade,UF,Preço de custo,Região,Taxa,Take Rate
0,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,262353,262357,Short Aeropostale Masculino D'Água Swimwear Da...,Ativo,229.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul,0.0,0.0
1,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,Ativo,199.99,Correios,0,Ponta Grossa,Paraná,84.9,Sul,0.0,0.0
2,2023-01-01 00:00:00,SecretOutlet,4579618,242372,Atendido,Aeropostale,264054,264057,Short Aeropostale Masculino D'Água Swimwear Ri...,Ativo,219.99,Correios,0,Maceió,Alagoas,89.9,Nordeste,0.0,0.0

In [12]:
estado_para_sigla = {
    'Acre': 'AC', 'Alagoas': 'AL', 'Amapá': 'AP', 'Amazonas': 'AM',
    'Bahia': 'BA', 'Ceará': 'CE', 'Distrito Federal': 'DF',
    'Espírito Santo': 'ES', 'Goiás': 'GO', 'Maranhão': 'MA',
    'Mato Grosso': 'MT', 'Mato Grosso do Sul': 'MS', 'Minas Gerais': 'MG',
    'Pará': 'PA', 'Paraíba': 'PB', 'Paraná': 'PR', 'Pernambuco': 'PE',
    'Piauí': 'PI', 'Rio de Janeiro': 'RJ', 'Rio Grande do Norte': 'RN',
    'Rio Grande do Sul': 'RS', 'Rondônia': 'RO', 'Roraima': 'RR',
    'Santa Catarina': 'SC', 'São Paulo': 'SP', 'Sergipe': 'SE',
    'Tocantins': 'TO'
}

# Substituir os nomes completos dos estados por siglas no DataFrame de vendas
df['UF'] = df['UF'].map(estado_para_sigla)

df.head(3)

,Data,Nome da Loja,Número Pedido Multiloja,Número do Pedido,Situação,Marca,SKU Pai,SKU Filho,Produto,Situação.1,Valor total,Nome do Transportador,Frete proporcional,Cidade,UF,Preço de custo,Região,Taxa,Take Rate
0,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,262353,262357,Short Aeropostale Masculino D'Água Swimwear Da...,Ativo,229.99,Correios,0,Ponta Grossa,PR,84.9,Sul,0.0,0.0
1,2023-01-01 00:00:00,SecretOutlet,4579608,242333,Atendido,Aeropostale,257477,257481,Short Aeropostale Masculino D'Água Swimwear Li...,Ativo,199.99,Correios,0,Ponta Grossa,PR,84.9,Sul,0.0,0.0
2,2023-01-01 00:00:00,SecretOutlet,4579618,242372,Atendido,Aeropostale,264054,264057,Short Aeropostale Masculino D'Água Swimwear Ri...,Ativo,219.99,Correios,0,Maceió,AL,89.9,Nordeste,0.0,0.0

In [2]:
import requests
from requests.auth import HTTPBasicAuth
import webbrowser

def get_authorization_code(client_id, redirect_uri):
    url = f"https://www.bling.com.br/b/Api/v3/oauth/authorize?response_type=code&client_id=ef459eea1436d8e822687e2eca165773e94c95bb&state=8bde85dd6e729dcd6e0d01dde003469d"
    webbrowser.open(url)
    # O usuário deve copiar o código de autorização da URL de redirecionamento e retornar aqui manualmente
    authorization_code = input("Enter the authorization code: ")
    return authorization_code

def get_access_token(client_id, client_secret, authorization_code):
    url = "https://www.bling.com.br/Api/v3/oauth/token"
    credentials = f"{client_id}:{client_secret}"
    headers = {
        "Content-Type": "application/x-www-form-urlencoded",
        "Accept": "1.0"
    }
    body = {
        "grant_type": "authorization_code",
        "code": authorization_code
    }
    response = requests.post(url, headers=headers, data=body, auth=HTTPBasicAuth(client_id, client_secret))
    return response.json()

# Substitua com seus dados reais
CLIENT_ID = 'ef459eea1436d8e822687e2eca165773e94c95bb'
CLIENT_SECRET = 'd37a78cd44f113f83dd799b627131afd32a2d932755727db94ee7c00b923'
REDIRECT_URI = 'https://www.qualquer.com.br'  # A URI de redirecionamento registrada no seu aplicativo Bling

# 1. Obtenha o authorization_code
authorization_code = get_authorization_code(CLIENT_ID, REDIRECT_URI)

# 2. Obtenha o access_token usando o authorization_code
token_response = get_access_token(CLIENT_ID, CLIENT_SECRET, authorization_code)
access_token = token_response.get('access_token')

print("Access Token:", access_token)

Access Token: bb0093576a16474234b869af29d0b28d235f2c59

In [9]:
import requests
import pandas as pd

url = "https://www.bling.com.br/Api/v3/produtos?pagina=100&limite=100&criterio=1&tipo=T"

headers = {
    'Authorization': 'Bearer bb0093576a16474234b869af29d0b28d235f2c59',
    'Content-Type': 'application/json'
}

response = requests.get(url, headers=headers)
data = response.json()

# Vamos assumir que a chave para acessar os produtos é 'data' na resposta JSON
produtos = data['data']

# Criando um DataFrame com os produtos
df = pd.DataFrame(produtos)
display(df)

,id,nome,codigo,preco,tipo,situacao,formato,descricaoCurta,imagemURL
0,16167177201,Boné Ralph Lauren Classic Green Logo Chumbo Ta...,289482,189.99,P,A,S,"<h2 style=""box-sizing: border-box; font-family...",https://easyreturn.com.br/modulos/imgprodutos/...
1,16167177196,Boné Ralph Lauren Classic Green Logo Chumbo,289481,189.99,P,A,V,"<h2 style=""box-sizing: border-box; font-family...",https://easyreturn.com.br/modulos/imgprodutos/...
2,16167174990,Boné Ralph Lauren Classic Yellow Logo Azul Roy...,289480,189.99,P,A,S,"<h2 style=""box-sizing: border-box; font-family...",https://easyreturn.com.br/modulos/imgprodutos/...
3,16165286291,Polo Dudalina Masculina Piquet Basica Moda Azu...,289479,199.99,P,A,S,"<h2 style=""box-sizing: border-box; font-family...",https://easyreturn.com.br/modulos/imgprodutos/...
4,16165286288,Polo Dudalina Masculina Piquet Basica Moda Azu...,289478,199.99,P,A,S,"<h2 style=""box-sizing: border-box; font-family...",https://easyreturn.com.br/modulos/imgprodutos/...
...,...,...,...,...,...,...,...,...,...
95,16162882375,Camiseta Disky Masculina Fell It Around Azul M...,289387,199.99,P,A,V,"<h2 style=""box-sizing: border-box; line-height...",https://easyreturn.com.br/modulos/imgprodutos/...
96,16162881192,Camiseta Disky Masculina Lust For Life Preta T...,289386,199.99,P,A,S,"<h2 style=""box-sizing: border-box; line-height...",https://easyreturn.com.br/modulos/imgprodutos/...
97,16162881186,Camiseta Disky Masculina Lust For Life Preta T...,289385,199.99,P,A,S,"<h2 style=""box-sizing: border-box; line-height...",https://easyreturn.com.br/modulos/imgprodutos/...
98,16162881169,Camiseta Disky Masculina Lust For Life Preta T...,289384,199.99,P,A,S,"<h2 style=""box-sizing: border-box; line-height...",https://easyreturn.com.br/modulos/imgprodutos/...
99,16162881153,Camiseta Disky Masculina Lust For Life Preta T...,289383,199.99,P,A,S,"<h2 style=""box-sizing: border-box; line-height...",https://easyreturn.com.br/modulos/imgprodutos/...

In [10]:
import requests

def consultar_estoque():
    # Configuração da API
    base_url = "https://www.bling.com.br/Api/v3/estoques/saldos"
    token = "Bearer bb0093576a16474234b869af29d0b28d235f2c59"  # Substitua pelo seu token real
    headers = {
        'Authorization': token,
        'Content-Type': 'application/json'
    }

    # Solicitação de dados do usuário
    id_produto = input("Digite o ID do produto: ")
    codigo_produto = input("Digite o código do produto: ")

    # Montagem da URL com parâmetros
    url = f"{base_url}?idsProdutos[]={id_produto}&codigo={codigo_produto}"

    # Fazendo a requisição à API
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json()
        print("Resposta da API:", data)
    else:
        print("Erro ao acessar a API:", response.status_code, response.text)

# Chamando a função para testar
consultar_estoque()

Resposta da API: {'data': [{'produto': {'id': 16162881186}, 'saldoFisicoTotal': 2, 'saldoVirtualTotal': 2, 'depositos': [{'id': 863558208, 'saldoFisico': 2, 'saldoVirtual': 2}, {'id': 6938657703, 'saldoFisico': 0, 'saldoVirtual': 0}]}]}

In [11]:
import pandas as pd

# Dados simulados recebidos da API
api_response = {
    'data': [{
        'produto': {'id': 16162881186},
        'saldoFisicoTotal': 2,
        'saldoVirtualTotal': 2,
        'depositos': [
            {'id': 863558208, 'saldoFisico': 2, 'saldoVirtual': 2},
            {'id': 6938657703, 'saldoFisico': 0, 'saldoVirtual': 0}
        ]
    }]
}

# Extrair informações relevantes para um DataFrame
produtos_data = []
for item in api_response['data']:
    produto_id = item['produto']['id']
    saldo_fisico_total = item['saldoFisicoTotal']
    saldo_virtual_total = item['saldoVirtualTotal']
    for deposito in item['depositos']:
        produtos_data.append({
            'Produto ID': produto_id,
            'Saldo Físico Total': saldo_fisico_total,
            'Saldo Virtual Total': saldo_virtual_total,
            'Depósito ID': deposito['id'],
            'Saldo Físico Depósito': deposito['saldoFisico'],
            'Saldo Virtual Depósito': deposito['saldoVirtual']
        })

# Criando o DataFrame
df = pd.DataFrame(produtos_data)

# Mostrando o DataFrame
df.head()

,Produto ID,Saldo Físico Total,Saldo Virtual Total,Depósito ID,Saldo Físico Depósito,Saldo Virtual Depósito
0,16162881186,2,2,863558208,2,2
1,16162881186,2,2,6938657703,0,0